torch==1.11.0+cu113
torchvision==0.12.0+cu113
numpy==1.23.5
scipy==1.8.1
scikit-image==0.19.2
scikit-learn==1.1.1
opencv-python==4.6.0.66
Pillow==9.2.0
termcolor==1.1.0
PyYAML==6.0
tqdm==4.64.0
absl-py==1.1.0
tensorboard==2.11.0
tensorboardX==2.5
PyOpenGL==3.1.6
pyrender==0.1.45
pytorch3d==0.6.2
trimesh==3.12.5
gdown
